@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Die Lucis-Farbpalette */
  --background: 253, 252, 248; /* Ein sehr helles Creme/Bone */
  --foreground: 26, 26, 26;    /* Ein weiches Schwarz */
  --card: 255, 255, 255;
  --accent: 230, 230, 230;
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden; /* Verhindert seitliches Scrollen */
}

/* Hilfsklassen für Typografie */
.font-serif {
  font-family: var(--font-serif);
}

.font-sans {
  font-family: var(--font-sans);
}

/* Sanfte Animationen für alles */
* {
  transition-property: color, background-color, border-color, transform;
  transition-duration: 300ms;
}